<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>发布技能信息</title>

</head>

<link rel="stylesheet" th:href="@{/css/layui.css}">
<script th:src="@{/js/layui.all.js}"></script>
<script th:src="@{/js/jquery.js}"></script>
<script th:src="@{/js/laydate.js}"></script>
<body>
<form class="layui-form" th:action="@{/change}" method="post" style="margin-top: 30px">
    <div class="layui-carousel" id="test1">
        <div carousel-item>
            <div><img src="/img/1.jpg"></div>
            <div><img src="/img/2.jpg"></div>
            <div><img src="/img/3.jpg"></div>
            <div><img src="/img/4.jpg"></div>
        </div>
    </div>
    <button type="button" class="layui-btn" id="test2">
        <i class="layui-icon">&#xe67c;</i>上传图片
    </button>
</form>
</body>

<script>



    layui.use('carousel', function(){
        var carousel = layui.carousel;
        //建造实例
        carousel.render({
            elem: '#test1'
            ,width: '100%' //设置容器宽度
            ,height:'500px'
            ,arrow: 'always' //始终显示箭头
            //,anim: 'updown' //切换动画方式
        });
    });
</script>
</html>
