<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>发布技能信息</title>

</head>

<link rel="stylesheet" th:href="@{/css/layui.css}">
<script th:src="@{/js/layui.all.js}"></script>
<script th:src="@{/js/jquery.js}"></script>
<script th:src="@{/js/laydate.js}"></script>
<body>
<form class="layui-form" th:action="@{/change}" method="post" style="margin-top: 30px">
    <div class="layui-form-item">
        <label class="layui-form-label">新密码</label>
        <div class="layui-input-block">
            <input type="text" name="newPassword" required  lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">重复输入</label>
        <div class="layui-input-block">
            <input type="text" name="newPassword2" required  lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input">
        </div>
    </div>
    <input type="submit" class="layui-btn" value="提交" style="margin-left: 60px">
</form>
</body>

<script>


    lay('#version').html('-v'+ laydate.v);

    //执行一个laydate实例
    laydate.render({
        elem: '#test1' //指定元素
    });
</script>
</html>
